src/.vs/*
.vs/*
*/.vs/*

*.testlog

*.sqlite

src/HR-Platform.API/bin/*
src/HR-Platform.API/obj/*

src/HR-Platform.Domain/bin/*
src/HR-Platform.Domain/obj/*

src/HR-Platform.Application/bin/*
src/HR-Platform.Application/obj/*

src/HR-Platform.Infrastructure/bin/*
src/HR-Platform.Infrastructure/obj/*

tests/UnitTests/HR-Platform.UnitTests/bin/*
tests/UnitTests/HR-Platform.UnitTests/obj/*